/dist/
/build/
/test_files/
/log/
/todo
/update.log
/venv/
/.idea
/__pycache__/
/widgets/__pycache__/
/update_app/__pycache__
/bin/__pycache__/
/.idea/
/voxodium.code-workspace
/widgets/settings_widgets/__pycache__/
/widgets/commands_widgets/__pycache__/
/auth_config.json
bin/base_modules/__pycache__/
update_app/bin/__pycache__/
user_data/censor_counter.csv
